.input_Layout__Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 2px solid #c38a8a;
  background-color: #ffffff;
  border-radius: 20px;
  margin-left: 95px;
  width: 60vh;
}

.Mobile__input_Layout__Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 2px solid #c38a8a;
  background-color: #ffffff;
  border-radius: 20px;
}

.spacing {
  margin-top: 30px;
  margin-bottom: 20px;
}
.Currenty__multiply__value {
  width: 120px;
  height: 50px;
  display: inline-block;
}

.Notes__Module__layout {
  /* border: 1px solid red; */
  height: 600px;
}
/* height: 566px; */
.Coins__Module__layout {
  /* border: 1px solid red; */
  height: 600px;
}

.Mobile__Notes__Module__layout {
  /* border: 1px solid red; */
  height: 566px;
}

.Mobile__Coins__Module__layout {
  /* border: 1px solid red; */
  height: 480px;
}

.Submit__clear__btn_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
.Total__sum__Card {
  border: 1px solid red;
  width: 38vh;
  height: 23vh;
  border-radius: 25px;
  background-color: #bdbdbd;
}

.Total__Notes {
  border: 1px solid red;
  width: 24vh;
  height: 16vh;
  border-radius: 21px;
  background-color: hsl(187deg 100% 89%);
  margin-top: 24px;
}
.Total__Coins {
  border: 1px solid red;
  width: 24vh;
  height: 16vh;
  border-radius: 21px;
  background-color: hsl(187deg 100% 89%);
  margin-top: 24px;
}
.total_sum_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.total_notes_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3vh;
}
.total_coins_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3vh;
}

.Bg__CashCounter {
  background-color: #1565c0;
  margin-top: 20px;
}
