.input_Layout__Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border: 1px solid blue;
  border-radius: 20px;
}

.spacing {
  margin-top: 30px;
  margin-bottom: 20px;
}
.Currenty__multiply__value {
  width: 120px;
  height: 50px;
  display: inline-block;
}

.Notes__Module__layout {
  border: 1px solid red;
  height: 75vh;
}

.Coins__Module__layout {
  border: 1px solid red;
  height: 75vh;
}
