@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Mono&family=Roboto+Slab:wght@700&display=swap");

h1 {
  font-family: "PT Serif", serif;
}

.Font__CurrentDat {
  font-size: 32px;
  font-family: "Pacifico", cursive;
}
