.Parent__ImageSwitch__Layout {
  border: 5px solid #ffffff;
  width: 38vh;
  height: 23vh;
  margin-top: 38px;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ImageList_Notes__style {
  width: 240px;
  height: 109px;
}
.ImageList__Coins__style {
  width: 144px;
  height: 113px;
  border-radius: 75px;
}
.ImageList__default__style {
  width: 70px;
  height: 72px;
}
