.Parent_ListLayout_Design {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid red;
  background-color: aqua;
  height: 20vh;
}

.Date_Time_layout {
  border: 2px solid red;
  height: 20vh;
  width: 30vh;
}

.Total_sum_layout {
  display: flex;
  flex-direction: column;

  height: 20vh;
  width: 550px;
}
.Coins_Notes_layout {
  border: 2px solid red;
  height: 20vh;
  width: 30vh;
}
.date_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid red;
}
.total_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}
.Delete_flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 5vh;
}
